{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".ios.js", ".android.js"],
        "root": ["./src"],
        "alias": {
          "@package": "./package.json",
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@pages": "./src/pages"
        }
      }
    ]
  ]
}
